*.gem
.bundle
.byebug_history
.DS_Store
.env*
.idea
/node_modules
/public/packs
/public/packs-test
bundled
coverage
pkg
tmp
/public/packs
/public/packs-test
/node_modules
**/settings/*-local.yml
**/settings-local.yml
.chamber*.enc
.chamber*.pem
.chamber*.enc.pass
!.chamber*.pub.pem
